@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_579483_hbdjxawg9novfgvi.eot');
  src: url('//at.alicdn.com/t/font_579483_hbdjxawg9novfgvi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_579483_hbdjxawg9novfgvi.woff') format('woff'), url('//at.alicdn.com/t/font_579483_hbdjxawg9novfgvi.ttf') format('truetype'), url('//at.alicdn.com/t/font_579483_hbdjxawg9novfgvi.svg#iconfont') format('svg');/* project id 579483 */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.002rem;
  -moz-osx-font-smoothing: grayscale;
}
.icon-l-heart:before {
  content: "\e618";
}
.icon-b-heart:before {
  content: "\e82b";
}
.icon-1-phone:before {
  content: "\e76e";
}
.icon-b-phone:before {
  content: "\e602";
}
.icon-b-home:before {
  content: "\e630";
}
.icon-b-vip:before {
  content: "\e64a";
}
.icon-b-my:before {
  content: "\e61f";
}
.icon-b-label:before {
  content: "\e681";
}
.icon-1-like:before {
  content: "\e607";
}
.icon-b-like:before {
  content: "\e672";
}
.icon-b-share:before {
  content: "\e63f";
}
.icon-l-right:before {
  content: "\e600";
}
.icon-b-shop:before {
  content: "\e735";
}
.icon-b-collection:before {
  content: "\e608";
}
.icon-b-weixin:before {
  content: "\e66a";
}
.icon-b-about:before {
  content: "\e61e";
}
.icon-b-crown:before {
  content: "\e642";
}
.icon-b-set:before {
  content: "\e604";
}
.icon-b-service:before {
  content: "\e616";
}
.icon-b-upload:before {
  content: "\e636";
}
.icon-l-edit:before {
  content: "\e61d";
}
.icon-l-close:before {
  content: "\e61a";
}
.icon-b-photo:before {
  content: "\e63d";
}
.icon-b-close:before {
  content: "\e641";
}
.icon-l-photo:before {
  content: "\e765";
}
.icon-l-ren:before {
  content: "\e60e";
}
.icon-l-phone:before {
  content: "\e76e";
}
.icon-l-password:before {
  content: "\e669";
}
.icon-l-connect:before {
  content: "\e6d2";
}
